body {
    background-color: rgba(178, 152, 200, 1);
  }
  .navBar{
    display: flex;
    background-image: url("../images18/clouds.png");
    background-repeat: none;
    background-position: center;
    align-items: flex-start;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    position: fixed;
    width: 100%;
  }
  .navIteam {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    padding-inline: 20px;
    }
    
  .left{
    width: 50%;
    justify-content: left;
    padding-left: 40px;
  }
  
  .right{
    width: 50%;
    justify-content: right;
    padding-right: 40px;
  }
  
  .left, .right, h1 {
    height: 200px;
    display: flex;
    align-items: baseline;
  }

  h1 {
    font-family: 'Happy Monkey'; 
    font-size: 40px;
    color:rgba(255, 206, 227, 1);
    font-weight: 100;
    margin-top: 11px;
  }

  .navIteam{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 100;
    padding-inline: 20px;
  }
  span{
    color: rgba(3, 1, 88, 1);
  }

  #navbutton{
    background-color: rgba(5, 2, 146, 1);
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 30px;

  }
  
  
  #HeroGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "aboutMe imageAndtext";
  
  }
  .aboutMe{
    grid-area: aboutMe;
    height: 50%;
    justify-content: center;
    margin-left: 130px;
    margin-right: 100px;
    margin-top: 200px;
  }
  
  .imageAndtext{
    grid-area: imageAndtext;
    height: 50%;
    justify-content: center;
    margin-right: 130px ;
    margin-top: 200px;
  }
  
  #headline{
    font-family: 'Happy Monkey'; 
    font-size: 35px;
    color: black;
  }
  #bodyText{
    font-family: sans-serif;
    line-height: 34px;
    font-size: 25px;
    font-weight: 100;
    position: relative;
    
  }
  
  .line1{
    border: 1px solid black;
    margin-bottom: 50px;
  } 
  .line2 {
    border: 1px solid black;
    margin-top: 50px;
  }
  
  #coverPhoto{
    width: 562px;
    height: 518px;
    margin-top: 25px;
  }
  .mainPic{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 90px;
    border: 6px solid rgba(255, 206, 227, 1);
  }
  
  .logo{
    position: absolute;
    right: 100px;
    top: 160px;
    width: 163px;
    height: 184px;
  }
  
  #caption{
    font-family: sans-serif;
    font-weight: 200;
    align-items: center;
    text-align: center;
    padding-top: 30px;
  }
  .skills{
    display: block;
    align-items: left;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .smallbuttons {
    display: flex;
    max-width: 1115px;
    justify-content: space-between;
  }
  .small{
    background-color: rgba(3, 1, 88, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: 100;
  }
  h2{
    font-family: sans-serif;
    line-height: 34px;
    font-size: 40px;
    font-weight:500;
  }
  .line3{
    margin-left: 120px;
    margin-right: 120px;
    border: 1px solid black;
  }

  #skillsContainer{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    justify-content: space-between;
  }

  h3 {
    font-family: sans-serif;
    line-height: 34px;
    font-size: 30px;
    font-weight: 300;
  }

  ul{
    list-style-type: none;
    font-family: sans-serif;
    line-height: 34px;
    font-size: 20px;
    font-weight: 100;
  }

  
  .footer{
    padding-top: 100px;
    text-align: center ;
    display: block;
  }
  .connect{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 40px;
  }
  .copyright{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 100;
    line-height: 15px;
    padding-bottom: 10px;
  }
  h6{
    text-align: center;
    font-family: 'Happy Monkey'; 
    font-size: 20px;
  }
  .desktopHidden{
    display: none;
  }

  @media only screen and (max-width: 600px){

  .mobile-hidden{
    display: none;
  }
  
  .desktopHidden{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navBar{
    display: flex;
    flex-direction: row;
    background-image: none;
    background-color: rgba(178, 152, 200, 1);
    padding-top: 20px;
    background-position: none;
    width: 100%;
    position: fixed;
  
  }

  .hamburger{
    width: 24px;
    height: 20px;
  }
  .mobilelogo{
    width: 62px;
    height: 89px;
  }



  }
